@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@mixin anim($time, $delay) {
	-webkit-transform: all $time ease $delay;
	-ms-transform: all $time ease $delay ;
	-o-transform: all $time ease $delay ;
	-moz-transform: all $time ease $delay ;
}

@mixin tr($x, $y, $z) {
	transform: translate3d($x, $y, $z);
	-webkit-transform: translate3d($x, $y, $z);
	-ms-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	-moz-transform: rotate($deg);
}

@mixin scale($num) {
	-webkit-transform: scale($num);
	-ms-transform: scale($num);
	-o-transform: scale($num);
	-moz-transform: scale($num);
}
@mixin flexbox() {
		display:-webkit-box;
		display:-moz-box;display:-ms-flexbox;
		display:-webkit-flex;display:flex;font-size: 0;
	}
@mixin flexorder($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order:$val;
	order: $val;
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	
	.ibg img{
	display: none;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #000000;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
body {
	font-family: 'Lato';
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main__screen {
	flex: 1 0 100%;
	position: relative;
}

.min__screen__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 35px;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85px;
	}

	&__logo {
		position: absolute;
		left: 50%;
		@include tr(-50%, 0px, 0px, )
	}

	@media (max-width:755px) {
		top: 15px;
	}
}

.menu {
	&__list {
		color: rgb(9, 0, 0);
		font-size: 23px;
		transition: all .3s ease-in;
	}
	&__list:hover {
		color:gold;
		text-decoration: underline;
	}
	&__list {
		display: flex;

		li {
			position: relative;
			padding: 0 37.5px;

			&:nth-child(2) {
				padding: 0 110px 0 37.5px;
			}

			&:nth-child(3) {
				padding: 0 37.5px 0 110px;
			}

			&:after {
				content: '';
				width: 4px;
				height: 4px;
				background-color: #000000;
				border-radius: 50%;
				position: absolute;
				right: 0;
				top: 40%;
			}

			&:nth-child(2),
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}

	&__link {
		font-family: Lato;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #000000;
	}

	@media (max-width:755px) {
		&__body {
			display: none;
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			padding: 150px 0 30px 0;
			background-color: #ffffff6f;

			&.active {
				display: block;
			}
		}

		&__link {
			color: rgb(25, 15, 48);
			font-size: 23px;
			transition: all .3s ease-in;
		}

		&__list {
			flex-direction: column;
			justify-content: center;
			align-items: center;

			li  {

				padding: 0 0 50px 0;

				&:nth-child(2) {
					padding: 0 0 50px 0;
				}

				&:nth-child(3) {
					padding: 0 0 50px 0;
				}

				&:last-child {
					padding: 0;
				}
			}
		}
	}
}

.icon-menu {
	@media (max-width:755px) {
		display: block;
		position: fixed;
		width: 30px;
		height: 18px;
		top: 18px;
		right: 10px;
		cursor: pointer;
		z-index: 5;

		span {
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color:#992020;
			transition: all 0.4s ease;

			&:first-child {
				top: 0px;
			}

			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}

		&.active {

			span {
				background-color: #992020;
				@include scale(0);

				&:first-child {
					@include rotate(-45deg);
					top: 8px;
				}

				&:last-child {
					@include rotate(45deg);
					bottom: 8px;
				}

				&:nth-child(2) {
					visibility: hidden;
				}
			}
		}
	}
}
.container {
	max-width: 1100px;
	padding: 0 16px;
	margin: 0 auto;
}
.genereition {
	background-color: #000000;
	padding: 120px 0;
	@media (max-width:900px) {
		padding: 70px 0;
	}
	@media (max-width:500px) {
		padding: 30px 0;
		font-size: 15px;
	}

}
.void {
	text-align: center;
	&__icon {
		margin: 0 0 30px 0;
	}
	&__title {
		font-family: Lato;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #df0000;	
		margin: 0px 0px 30px 0px;
	}
	&_text {
		font-family: Lato;
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		color: #adadad;
		&_j {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			&:after {
				content:'';
				display: block;
				margin:35px auto 0 auto;
				width: 50px;
				height: 2px;
				background-color: rgba(53,55,56,0.2);
			}
		}
	}
	@media (max-width:1500px) {
		&_text {
			&_j {
				&:after{
					margin:18px auto 0 auto;
				}
			}
		}
	}
}
.brands {
	&__rev {
		.brands__column {
			@include flexorder(1);
			&_b {
				@include flexorder(2);
			}
		}
	}
	&__row {
		@include flexbox()
	}
	&__column {
		flex: 0 1 33.333%;
	
		&_b {
			flex: 0 1 66.667%;
		}
	}
	&__content {
		background-color: #000000;
		padding: 65px 70px 55px 67px;
		position: relative;
	}
	&__img {
		padding: 0px 0px 37.51% 0px;
	}
	@media (max-width:1500px) {
		&__content {
			padding: 40px 35px 30px 33px;
		}
	}
	//тут не работает
	@media (max-width :1100px) {
		.brands__last {
			.brands__column {
				&:nth-child(1) {
					@include flexorder(2);
				}
				&:nth-child(2) {
					@include flexorder(1);
				}
				&:nth-child(3) {
					@include flexorder(3);
				}
			}
		}
		&__row {
			flex-direction: column;
		}
	}
}

.item {
	height: 100%;
	display: block;
	position: relative;
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include flexbox();
		flex-direction: column;
		transition: all .3s ease-in;
		justify-content: center;
		align-items: center;
		z-index: 5;	
		background-color:rgb(0 0 0 / 46%);
		opacity: 0;
		visibility: hidden;
		span {
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 2.8px;
			text-transform: uppercase;
			color: white;
		}
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width:1500px) {
		height: auto;
		padding: 0px 0px 70% 0px;
	}
}

.slider {
	background-color: #e6e4e4;
	padding: 120px 0 60px 0;
}
.slider__item {
	text-align: center;
}
.slider__icon {
	margin: 0  0 35px 0;
}
.slider__title {
	margin: 0 0  20px 0;
	font-size: 18px;
	font-weight: 700;
	span {
		font-weight: 300;
		color:#b0b1b1;
	}
}
.slider__text {
	font-family: Lato;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
}
.shop__body {
	@include flexbox();
}
.shop__column {
	flex: 0 1 16.666%;
}
.shop__column__b {
	flex: 0 1 33.333%;
}
.shop__footer {
	background-color: #282f35;
	padding: 65px 0;
	text-align: center;
}
.shop__button {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.49);
	height: 50px;
	line-height: 48px;
	color:rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 60px;
	letter-spacing: 0.2em;
}
	@media (max-width:1100px) {
		.shop__body {
			flex-wrap:wrap;
		}
		.shop__column {
			flex: 0 1 50%;
			&:first-child {
				flex: 1 1 100%;
			}
			&:last-child {
				flex: 1 1 100%;
			}
		}
		.shop__button {
			padding: 0 40px;
		}
	}
.block-shop {
	height: 100%;
}
.block-shop__row {
	@include flexbox();

}
.block-shop__column {
	flex: 0 1 50%;
}
.block-shop__item {
	height: auto;
	padding: 0 0 50% 0;
}
.block-shop__item_b {
	padding: 0 0 200.5% 0;
}
.block-shop__item_l {
	padding: 0 0 100% 0;

}

.contact {
	@media (max-width: 750px) {
		.contact__body {
			padding: 50px 0;
		}
	} 
	@media (max-width:500px) {
		.contact__form {
			flex-direction: column;
		}
		.contact__input {
			padding: 0px 0px 8px 0px;
		}
	}
.contact__body {
	padding: 110px 0;
	max-width: 534px;
	margin: 0 auto;
	text-align: center;
}
.contact__logo {
	padding: 0 0 39px 0;
}
.contact__labe {
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #bdbdbd;
	padding: 0 0 35px 0;
}
.contact__form {
	@include flexbox();
}
.contact__input {
	flex: 1 1 auto;
	padding: 0 8px 0 0;
	.input {
		width: 100%;
		height: 69px;
		background-color: #ffffff;
		border: 1px solid #d3d7d9;
		padding: 0px 28px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 400;
		font-style: italic;
		color: #707070;
	}
}

	&__button {
	flex: 0 0 126px;

}
	&__btn {
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #ffffff;
	width: 100%;
	height: 69px;
	background-color: #dd3535;
	font-weight: 300;
}
}

footer {
	background-color: #000000;

.footer__row {
	@include flexbox();
	padding: 110px 0;
	align-items: center;
}
.footer__column {
	flex: 0 1 33.333%;
}
.footer__info {
	line-height: 25px;
	padding-right: 20px;
	font-size: 13.9px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	p{
		&:first-child {
			font-size: 16px;
			line-height: 25px;
			font-weight: 700;
			color: #848789;	
		}
	}

}
	@media (max-width:1100px) {
		padding: 50px 0;
	}
	@media (max-width:600px) {
		padding: 30px 0;
		.footer__row {
			flex-direction: column;
			text-align: center;
		}
		.footer__info {
			padding: 0;
		}
		.footer__social {
			margin: 15px 0;
		}
	}
}
.social {
	@include flexbox();
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
.social__link {
	margin: 0 9px;
}
.yelo {
	@include flexbox();
	justify-content: flex-end;
	align-items: center;
	padding-top: 15px;

}
.yelo__text {
	font-size: 13.9px;
	line-height: 17px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	padding-right: 9px;
}
.void__title {
	font-size: 17px;
}
.logo__133 {
	width: 250px;
	height: 250px;
}
.img-conteiner{
	display: flex;
	justify-content: center;
	align-items:center ;
	flex-wrap: wrap;
	gap: 5px;
}
.img-conteiner .img-GALLERY {
width: 300px;
height: 200px;
border: 5px solid rgb(50, 50, 50);
overflow: hidden;
}
.img-conteiner .img-GALLERY 
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	transition: 0.5s;
}
.img-conteiner .img-GALLERY:hover 
img {
	transform: scale(1.1);
}
.pop-up {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	display: none;
}
.pop-up img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid white;
	border-radius: 8px;
	width: 500px;
}

.yelo__icon {
cursor: default;
}
.brands__item {
cursor: default;
}